<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      To-do List

    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-item>
    <ion-input #taskInput type="text" [(ngModel)]="taskName" placeholder="Enter task"></ion-input>
    <div class="item-note" item-end>
      <button ion-button color='secondary' (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </ion-item>

  <div padding>
    <ion-list>
      <ion-item>
        <span>
          <b>TaskName</b>
        </span>&nbsp;&nbsp;
        <span class='taskstatus'>
          <b>TaskStatus</b>
        </span>
      </ion-item>
      <ion-item *ngFor="let todo of fireStoreTaskList  let i = index ">
        <span>
          {{todo.task}}
        </span>&nbsp;
        <span class='taskstatusvalue'>
          {{todo.status}}

        </span>
        <div class="item-note" item-end>
          <button ion-button clear color='danger' (click)="deleteTask(todo.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button clear color='danger' class='completeTask'(click)="markAsComplete(todo.id)">
            Mark as complete
          </button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>